<%= form_for(@group, html: { class: "form-horizontal"} )do |f| %>
  
  <div class="form-group">
    <%= f.label "Group Name", class: "control-label col-xs-3"%>
    <div class="col-xs-6">
      <%= f.text_field :name, :class => "form-control",  placeholder: "Enter Group name"%>
    </div>  
  </div>

  <div class="form-group">
    <%= f.label "Select Start Date", class: "control-label col-xs-3"%>
    <div class="col-xs-3">
      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <%= f.text_field :start_date, class: "form-control pull-right",  placeholder: "Select Start Date", id: "datepicker", value: @group.start_date.try(:strftime, "%d-%m-%Y") %>
      </div>
    </div>
    <div class = "col-xs-3">
      <div class="input-group">
        <%= f.text_field :time_stamp, class: "form-control timepicker" %>
        <div class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Schedule Event days", class: "control-label col-xs-3"%>
    <div class="col-xs-6">
      <%= f.select :interval, options_for_select(Group::INTERVAL), {}, 
      { class: "form-control", data: { placeholder: "Select SMS template"} }   %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Select Template", class: "control-label col-xs-3"%>
    <div class="col-xs-6">
     <%= f.select :template_id, options_for_select(@group.option_templates), {}, { class: "form-control", data: { placeholder: "Select SMS template"} }   %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Members", class: "control-label col-xs-3"%>
    <div class="col-md-6">

    <%= f.select :members, options_for_select(@group.option_members, 
      selected: @group.selected_members), {}, 
      { class: "form-control select2", multiple: 'multiple', data: { placeholder: "Select Members to add in group"} }   %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="text-center">
    <%= f.submit class: "btn btn-success" %>
  </div>
  <br>
<% end %> 

 

<script type="text/javascript">
$(document).ready(function(){
  $(".select2").select2();

  $('#datepicker').datepicker({
    autoclose: true,
    format: 'dd-mm-yyyy'
  });

  $(".timepicker").timepicker();
});
</script>