<!DOCTYPE html>
<html>
<head>
  <title>RemainderManagement</title>
  <%= stylesheet_link_tag  'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render menu %>
      <div class="content-wrapper">
      <% if flash[:notice] %>
        <div class= "alert alert-success text-center custom-alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;
          </a>
          <%= flash[:notice] %>
        </div> 
      <% end %>
      <%= yield %> 
      </div>
    </div>
  </div>
</body>
</html>

<style type="text/css">
.custom-alert {
  margin: 0;
  padding: 5px;
}
</style>
